# Python
__pycache__/
*.pyc

# SQLite temporary files
*.db
*.db-journal
*.db-shm
*.db-wal
fifa_one.db
backend/fifa_one.db

# Script helper
powershell.bat

# Build and local files
node_modules/
dist/
venv/
.env
.DS_Store
.idea/
.vscode/

